{
	admin off
	auto_https disable_redirects
	servers {
		protocols h1 h2
	}
}

https://{$DASHBOARD_HOST}:8443 {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1 1.0.0.1
	}
	reverse_proxy dashboard:4173
}
